In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [3]:
sales_stock_df = pd.read_excel("./datasets/2015StockLevels.xlsx")
sales_df = pd.read_excel("./datasets/2015Sales.xlsx")
budget_df = pd.read_excel("./datasets/CalendarMonthlyBudgetIncStock.xlsx")
inventory_df = pd.read_excel("./datasets/InventoryDimensions.xlsx")
stock_summary_df = pd.read_excel("./datasets/StockLevelsYearlySummary.xlsx")

In [9]:
stock_summary_df

   Year      SOH
0  2012  1000000
1  2013  1400000
2  2014  1680000

In [21]:
def power_sum(n):

    if n <= 1:
        return 1
    
    pow_val = 1

    for i in range(1, n+1):
        pow_val*=i
    
    return power_sum(n-1)*pow_val

power_sum(4)

288